<a href="https://colab.research.google.com/github/Ramakrishna0707/Tutorials/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 14.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=cb74ef9eeb84ba5cb45f19cb986a481712e9580601f0ed3fef9ebc13c5035b22
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
import pyspark

In [ ]:
pip install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.4.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
!pip install --upgrade --no-cache-dir gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.4.0)
Collecting gdown
  Downloading gdown-4.6.4-py3-none-any.whl (14 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.26.14)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.4.0
    Uninstalling gdown-4.4.0:
      Successfully uninstalled gdown-4.4.0
Successfully installed gdown-4.6.4

In [ ]:
!gdown --id 1wXutnsaTYPmyxykjGtJ3iuBYcgZQFtVv

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1wXutnsaTYPmyxykjGtJ3iuBYcgZQFtVv
To: /content/test1.csv
100% 88.0/88.0 [00:00<00:00, 94.5kB/s]

In [ ]:
 import pandas as pd
 pd.read_csv('/content/test1.csv')
#  type(pd.read_csv('/content/test1.csv'))

          Name  Age
0  Ramakrishna   21
1   Saikrishna   22
2     Abhiram    21
3      Bharath   22
4      Praveen   21
5        Shaik   22

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('/content/test1.csv')

In [ ]:
df_pyspark.show() # reading the csv file but headings are merged with the values

+-----------+---+
|        _c0|_c1|
+-----------+---+
|       Name|Age|
|Ramakrishna| 21|
| Saikrishna| 22|
|   Abhiram | 21|
|    Bharath| 22|
|    Praveen| 21|
|      Shaik| 22|
+-----------+---+

In [ ]:
#making headers 
df_pyspark = spark.read.option('header', 'true').csv('/content/test1.csv')

In [ ]:
type(df_pyspark)  #showing nonetype instead of pyspark.sql.dataframe.DataFrame

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Ramakrishna', Age='21'),
 Row(Name='Saikrishna', Age='22'),
 Row(Name='Abhiram ', Age='21')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

**DAY2**

In [ ]:
!gdown --id 1wXnsQUzIaUrNhFMc8evAw_whhnc6nuoE

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1wXnsQUzIaUrNhFMc8evAw_whhnc6nuoE
To: /content/ttest1.csv
100% 112/112 [00:00<00:00, 174kB/s]

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
#read the dataset
df_pyspark = spark.read.option('header','true').csv('/content/ttest1.csv',inferSchema=True)

In [ ]:
#check the schema means the data type similar like info in pandas
df_pyspark.printSchema() 
# By default it will takes as a string datatype

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
#inferschema will change the data type to requried data type like names to string and age to integer
df_pyspark = spark.read.csv('/content/ttest1.csv', header = True,inferSchema = True)
df_pyspark.show()

+-----------+---+----------+
|       Name|Age|Experience|
+-----------+---+----------+
|Ramakrishna| 21|         2|
| Saikrishna| 22|        10|
|   Abhiram | 21|         5|
|    Bharath| 22|         4|
|    Praveen| 21|         7|
|      Shaik| 22|         9|
+-----------+---+----------+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [ ]:
df_pyspark.show()

+-----------+---+----------+
|       Name|Age|Experience|
+-----------+---+----------+
|Ramakrishna| 21|         2|
| Saikrishna| 22|        10|
|   Abhiram | 21|         5|
|    Bharath| 22|         4|
|    Praveen| 21|         7|
|      Shaik| 22|         9|
+-----------+---+----------+

In [ ]:
#selecting particular column
df_pyspark.select('Name').show()

+-----------+
|       Name|
+-----------+
|Ramakrishna|
| Saikrishna|
|   Abhiram |
|    Bharath|
|    Praveen|
|      Shaik|
+-----------+

In [ ]:
#selecing multiple column
df_pyspark.select(['Name','Experience']).show()

+-----------+----------+
|       Name|Experience|
+-----------+----------+
|Ramakrishna|         2|
| Saikrishna|        10|
|   Abhiram |         5|
|    Bharath|         4|
|    Praveen|         7|
|      Shaik|         9|
+-----------+----------+

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+--------+------------------+------------------+
|summary|    Name|               Age|        Experience|
+-------+--------+------------------+------------------+
|  count|       6|                 6|                 6|
|   mean|    null|              21.5| 6.166666666666667|
| stddev|    null|0.5477225575051666|3.0605010483034745|
|    min|Abhiram |                21|                 2|
|    max|   Shaik|                22|                10|
+-------+--------+------------------+------------------+

In [ ]:
#adding columns in data frame
df_pyspark = df_pyspark.withColumn("EXperience After 2 years",df_pyspark['Experience']+ 2)

In [ ]:
df_pyspark.show()

+-----------+---+----------+------------------------+
|       Name|Age|Experience|EXperience After 2 years|
+-----------+---+----------+------------------------+
|Ramakrishna| 21|         2|                       4|
| Saikrishna| 22|        10|                      12|
|   Abhiram | 21|         5|                       7|
|    Bharath| 22|         4|                       6|
|    Praveen| 21|         7|                       9|
|      Shaik| 22|         9|                      11|
+-----------+---+----------+------------------------+

In [ ]:
#dropping the column
df_pyspark = df_pyspark.drop('EXperience After 2 years')

In [ ]:
df_pyspark.show()

+-----------+---+----------+
|       Name|Age|Experience|
+-----------+---+----------+
|Ramakrishna| 21|         2|
| Saikrishna| 22|        10|
|   Abhiram | 21|         5|
|    Bharath| 22|         4|
|    Praveen| 21|         7|
|      Shaik| 22|         9|
+-----------+---+----------+

In [ ]:
#renaming the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+-----------+---+----------+
|   New Name|Age|Experience|
+-----------+---+----------+
|Ramakrishna| 21|         2|
| Saikrishna| 22|        10|
|   Abhiram | 21|         5|
|    Bharath| 22|         4|
|    Praveen| 21|         7|
|      Shaik| 22|         9|
+-----------+---+----------+

**DAY 3**

**PySpark Handling Missing Values**

**- Dropping Columns**

**- Dropping Rows**

**- Various Parameter in Dropping Functionalities**

**- Handling missing values by mean, median, and mode**

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice1').getOrCreate()

In [ ]:
!gdown --id 1F4EobzrYKBGHGFywpSnN6abDdgtGudKl

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1F4EobzrYKBGHGFywpSnN6abDdgtGudKl
To: /content/Handling_Missing_test1.csv
100% 191/191 [00:00<00:00, 271kB/s]

In [ ]:
df_pyspark = spark.read.csv('/content/Handling_Missing_test1.csv',header = True,inferSchema = True)

In [ ]:
df_pyspark.show()

+-----------+----+----------+------+
|       Name| Age|Experience|Salary|
+-----------+----+----------+------+
|Ramakrishna|  21|         2| 30000|
| Saikrishna|  22|        10| 50000|
|   Abhiram |  21|         5| 45000|
|    Bharath|  22|         4| 12000|
|    Praveen|  21|         7| 29000|
|      Shaik|  22|         9| 60000|
|      Rohti|null|      null| 54000|
|       null|  45|        10| 15000|
|       null|  36|      null|  null|
+-----------+----+----------+------+

In [ ]:
#dropping null values 
#if we didn't give any condition in drop then it will remove whole row which contains the null value
df_pyspark.na.drop().show()

#how, thresh and subset are the parameters of drop()

+-----------+---+----------+------+
|       Name|Age|Experience|Salary|
+-----------+---+----------+------+
|Ramakrishna| 21|         2| 30000|
| Saikrishna| 22|        10| 50000|
|   Abhiram | 21|         5| 45000|
|    Bharath| 22|         4| 12000|
|    Praveen| 21|         7| 29000|
|      Shaik| 22|         9| 60000|
+-----------+---+----------+------+

In [ ]:
#(any  == how ) in drop function
#if how = all remove only the rows when the whole row contains the null value
#by default how = any
#f how  = any it removes all the rows which contains the null value
df_pyspark.na.drop(how = 'all').show()

+-----------+----+----------+------+
|       Name| Age|Experience|Salary|
+-----------+----+----------+------+
|Ramakrishna|  21|         2| 30000|
| Saikrishna|  22|        10| 50000|
|   Abhiram |  21|         5| 45000|
|    Bharath|  22|         4| 12000|
|    Praveen|  21|         7| 29000|
|      Shaik|  22|         9| 60000|
|      Rohti|null|      null| 54000|
|       null|  45|        10| 15000|
|       null|  36|      null|  null|
+-----------+----+----------+------+

In [ ]:
#threshold
#thresh = 2 means atleast 2 non-null values will be present in the row
#so the last row the deleted
df_pyspark.na.drop(how = 'any',thresh = 2).show()

+-----------+----+----------+------+
|       Name| Age|Experience|Salary|
+-----------+----+----------+------+
|Ramakrishna|  21|         2| 30000|
| Saikrishna|  22|        10| 50000|
|   Abhiram |  21|         5| 45000|
|    Bharath|  22|         4| 12000|
|    Praveen|  21|         7| 29000|
|      Shaik|  22|         9| 60000|
|      Rohti|null|      null| 54000|
|       null|  45|        10| 15000|
+-----------+----+----------+------+

In [ ]:
#subset
# if we want to remove only the null values from a specific column then we use subset
df_pyspark.na.drop(how = 'any',subset = ['Experience']).show()

+-----------+---+----------+------+
|       Name|Age|Experience|Salary|
+-----------+---+----------+------+
|Ramakrishna| 21|         2| 30000|
| Saikrishna| 22|        10| 50000|
|   Abhiram | 21|         5| 45000|
|    Bharath| 22|         4| 12000|
|    Praveen| 21|         7| 29000|
|      Shaik| 22|         9| 60000|
|       null| 45|        10| 15000|
+-----------+---+----------+------+

In [ ]:
###FILLING THE MISSING VALUE
df_pyspark.na.fill('Missing Values',['Experience','Age','Name']).show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|   Ramakrishna|  21|         2| 30000|
|    Saikrishna|  22|        10| 50000|
|      Abhiram |  21|         5| 45000|
|       Bharath|  22|         4| 12000|
|       Praveen|  21|         7| 29000|
|         Shaik|  22|         9| 60000|
|         Rohti|null|      null| 54000|
|Missing Values|  45|        10| 15000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [ ]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [ ]:
df_pyspark.show()

+-----------+----+----------+------+
|       Name| Age|Experience|Salary|
+-----------+----+----------+------+
|Ramakrishna|  21|         2| 30000|
| Saikrishna|  22|        10| 50000|
|   Abhiram |  21|         5| 45000|
|    Bharath|  22|         4| 12000|
|    Praveen|  21|         7| 29000|
|      Shaik|  22|         9| 60000|
|      Rohti|null|      null| 54000|
|       null|  45|        10| 15000|
|       null|  36|      null|  null|
+-----------+----+----------+------+

In [ ]:
pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer = Imputer(
    inputCols = ['Age','Experience','Salary'],
    outputCols = ['{}_imputed'.format(c) for c in ['Age', 'Experience','Salary']]
    ).setStrategy("median")

In [ ]:
#add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----------+----+----------+------+-----------+------------------+--------------+
|       Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----------+----+----------+------+-----------+------------------+--------------+
|Ramakrishna|  21|         2| 30000|         21|                 2|         30000|
| Saikrishna|  22|        10| 50000|         22|                10|         50000|
|   Abhiram |  21|         5| 45000|         21|                 5|         45000|
|    Bharath|  22|         4| 12000|         22|                 4|         12000|
|    Praveen|  21|         7| 29000|         21|                 7|         29000|
|      Shaik|  22|         9| 60000|         22|                 9|         60000|
|      Rohti|null|      null| 54000|         22|                 7|         54000|
|       null|  45|        10| 15000|         45|                10|         15000|
|       null|  36|      null|  null|         36|                 7|         30000|
+-----------+----+----------+------+-----------+------------------+--------------+

**PySpark Dataframes**

**Filter Operation**

**&,||,==**

**~**

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
 spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [ ]:
df_pyspark = spark.read.csv('/content/Handling_Missing_test1.csv',header = True,inferSchema = True)

In [ ]:
df_pyspark.show()

+-----------+----+----------+------+
|       Name| Age|Experience|Salary|
+-----------+----+----------+------+
|Ramakrishna|  21|         2| 30000|
| Saikrishna|  22|        10| 50000|
|   Abhiram |  21|         5| 45000|
|    Bharath|  22|         4| 12000|
|    Praveen|  21|         7| 29000|
|      Shaik|  22|         9| 60000|
|      Rohti|null|      null| 54000|
|       null|  45|        10| 15000|
|       null|  36|      null|  null|
+-----------+----+----------+------+

In [ ]:
df_pyspark = df_pyspark.na.drop()

In [ ]:
df_pyspark.show()

+-----------+---+----------+------+
|       Name|Age|Experience|Salary|
+-----------+---+----------+------+
|Ramakrishna| 21|         2| 30000|
| Saikrishna| 22|        10| 50000|
|   Abhiram | 21|         5| 45000|
|    Bharath| 22|         4| 12000|
|    Praveen| 21|         7| 29000|
|      Shaik| 22|         9| 60000|
+-----------+---+----------+------+

**Filter Operations**

In [ ]:
#salary of the people less than or equal to 20000
df_pyspark.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Bharath| 22|         4| 12000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter('Salary<=20000').select(["Name","Age"]).show()

+-------+---+
|   Name|Age|
+-------+---+
|Bharath| 22|
+-------+---+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<= 20000) &
                  (df_pyspark['Salary']>=10000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Bharath| 22|         4| 12000|
+-------+---+----------+------+

In [ ]:
#printing salary which are greater than 20k using not(~) operator
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----------+---+----------+------+
|       Name|Age|Experience|Salary|
+-----------+---+----------+------+
|Ramakrishna| 21|         2| 30000|
| Saikrishna| 22|        10| 50000|
|   Abhiram | 21|         5| 45000|
|    Praveen| 21|         7| 29000|
|      Shaik| 22|         9| 60000|
+-----------+---+----------+------+

**PySpark GroupBy And Aggregate Functions**

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [ ]:
!gdown --id 1NFLJaMkhqU1ryyUa74nfNSXCxVgYguMj

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1NFLJaMkhqU1ryyUa74nfNSXCxVgYguMj
To: /content/test2.csv
100% 278/278 [00:00<00:00, 369kB/s]

In [ ]:
df_pyspark = spark.read.csv('/content/test2.csv',header = True,inferSchema = True)

In [ ]:
df_pyspark.show()

+-----------+------------+------+
|       Name|  Department|Salary|
+-----------+------------+------+
|Ramakrishna|Data Science| 10000|
|Ramakrishna|         IOT|  5000|
|     Bharat|    Big Data|  4000|
|Ramakrishna|    Big Data|  4000|
|     Mahesh|Data Science|  3000|
|  Sudhanshu|Data Science| 20000|
|  Sudhanshu|         IOT| 10000|
|  Sudhanshu|    Big Data|  5000|
|     Sunny |Data Science| 10000|
|     Sunny |    Big Data|  2000|
+-----------+------------+------+

In [ ]:
df_pyspark

DataFrame[Name: string, Department: string, Salary: int]

In [ ]:
#group by 
# Grouped to find the max salary
df_pyspark.groupBy('Name').sum().show()

+-----------+-----------+
|       Name|sum(Salary)|
+-----------+-----------+
|  Sudhanshu|      35000|
|Ramakrishna|      19000|
|     Sunny |      12000|
|     Bharat|       4000|
|     Mahesh|       3000|
+-----------+-----------+

In [ ]:
# Groupby Department which gives max salary
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [ ]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [ ]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [ ]:
#finding out the max salary with respect to name 
df_pyspark.groupBy('Name').max().show()

+-----------+-----------+
|       Name|max(Salary)|
+-----------+-----------+
|  Sudhanshu|      20000|
|Ramakrishna|      10000|
|     Sunny |      10000|
|     Bharat|       4000|
|     Mahesh|       3000|
+-----------+-----------+

In [ ]:
# finding out the min salary with respect to name
df_pyspark.groupBy('Name').min().show()

+-----------+-----------+
|       Name|min(Salary)|
+-----------+-----------+
|  Sudhanshu|       5000|
|Ramakrishna|       4000|
|     Sunny |       2000|
|     Bharat|       4000|
|     Mahesh|       3000|
+-----------+-----------+

** With respect to spark ml their are two methods** 

**a) RDD** 

**b) DataFrame API**

**Example Of Pyspark ML**

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Missing').getOrCreate()

In [ ]:
!gdown --id 1F4EobzrYKBGHGFywpSnN6abDdgtGudKl

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1F4EobzrYKBGHGFywpSnN6abDdgtGudKl
To: /content/Handling_Missing_test1.csv
100% 191/191 [00:00<00:00, 161kB/s]

In [ ]:
#read the dataset and removing the null values
df_pyspark = spark.read.csv('/content/Handling_Missing_test1.csv',header = True, inferSchema = True)

In [ ]:
training = df_pyspark.na.drop()

In [ ]:
training.show()

+-----------+---+----------+------+
|       Name|Age|Experience|Salary|
+-----------+---+----------+------+
|Ramakrishna| 21|         2| 30000|
| Saikrishna| 22|        10| 50000|
|   Abhiram | 21|         5| 45000|
|    Bharath| 22|         4| 12000|
|    Praveen| 21|         7| 29000|
|      Shaik| 22|         9| 60000|
+-----------+---+----------+------+

In [ ]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

In [ ]:
# [Age,Experience] ----> new feature -----> independent feature

**VectorAssembler** - 

it is a transformer that combines a given list of columns into a single vector column

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=["Age",'Experience'],outputCol = "Independent Features")

In [ ]:
output = featureassembler.transform(training)

In [ ]:
output.show()

+-----------+---+----------+------+--------------------+
|       Name|Age|Experience|Salary|Independent Features|
+-----------+---+----------+------+--------------------+
|Ramakrishna| 21|         2| 30000|          [21.0,2.0]|
| Saikrishna| 22|        10| 50000|         [22.0,10.0]|
|   Abhiram | 21|         5| 45000|          [21.0,5.0]|
|    Bharath| 22|         4| 12000|          [22.0,4.0]|
|    Praveen| 21|         7| 29000|          [21.0,7.0]|
|      Shaik| 22|         9| 60000|          [22.0,9.0]|
+-----------+---+----------+------+--------------------+

In [ ]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'Independent Features']

In [ ]:
finalized_data = output.select('Independent Features','Salary')

In [ ]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|          [21.0,2.0]| 30000|
|         [22.0,10.0]| 50000|
|          [21.0,5.0]| 45000|
|          [22.0,4.0]| 12000|
|          [21.0,7.0]| 29000|
|          [22.0,9.0]| 60000|
+--------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data,test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol = 'Independent Features',labelCol = 'Salary')
regressor = regressor.fit(train_data)

Exception ignored in: <function JavaWrapper.__del__ at 0x7f3625e07f70>
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/pyspark/ml/wrapper.py", line 53, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'LinearRegression' object has no attribute '_java_obj'

In [ ]:
##coefficients
regressor.coefficients

DenseVector([-28000.0, 5000.0])

In [ ]:
#intercepts
#the importance of intercept, the intercept is the point where the function crosses the y-axis
regressor.intercept

608000.0000000645

In [ ]:
#prediction
pred_results = regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [21.0,7.0]| 29000|  55000.0000000007|
|          [22.0,9.0]| 60000|36999.999999997555|
|         [22.0,10.0]| 50000| 41999.99999999744|
+--------------------+------+------------------+

In [ ]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(19000.000000001903, 423000000.00006324)

In [ ]:
# rdd api and dataframe api is incomplete

In [ ]:
df_pyspark.show()

+-----------+----+----------+------+
|       Name| Age|Experience|Salary|
+-----------+----+----------+------+
|Ramakrishna|  21|         2| 30000|
| Saikrishna|  22|        10| 50000|
|   Abhiram |  21|         5| 45000|
|    Bharath|  22|         4| 12000|
|    Praveen|  21|         7| 29000|
|      Shaik|  22|         9| 60000|
|      Rohti|null|      null| 54000|
|       null|  45|        10| 15000|
|       null|  36|      null|  null|
+-----------+----+----------+------+

In [ ]:
df_pyspark.take(4)  #it will print the first 4 rows

[Row(Name='Ramakrishna', Age=21, Experience=2, Salary=30000),
 Row(Name='Saikrishna', Age=22, Experience=10, Salary=50000),
 Row(Name='Abhiram ', Age=21, Experience=5, Salary=45000),
 Row(Name='Bharath', Age=22, Experience=4, Salary=12000)]

**PLOTTING**

In [ ]:
import pandas as pd
import numpy as np
import pyspark.pandas as  ps
from pyspark.sql import SparkSession

/usr/local/lib/python3.8/dist-packages/pyspark/pandas/__init__.py:49: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
pser = pd.Series(np.random.randn(1000),index = pd.date_range('1/1/2000',periods = 1000))

In [ ]:
psser = ps.Series(pser)

In [ ]:
psser = psser.cummax()

In [ ]:
psser.plot()

Exception ignored in: <function JavaWrapper.__del__ at 0x7f3625e07f70>
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/pyspark/ml/wrapper.py", line 53, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'VectorAssembler' object has no attribute '_java_obj'